{
    "campus": "PNNL",
    "building": "EMSL",
    "system": "rtu05",
    "system_status_point": "OccupancyCommand",
    "setpoint_control": 1,
    "local_tz": "America/Los_Angeles",
    "default_setpoints": {"UnoccupiedHeatingSetPoint": 65, "UnoccupiedCoolingSetPoint": 78, "DeadBand": 3, "OccupiedSetPoint": 71},
    "setpoint_validate_frequency": 300,
    "zone_point_names": { "zonetemperature": "ZoneTemperature",
        "coolingsetpoint": "OccupiedCoolingSetPoint",
        "heatingsetpoint": "OccupiedHeatingSetPoint",
        "supplyfanstatus": "SupplyFanStatus",
        "outdoorairtemperature": "OutdoorAirTemperature",
        "heating": "FirstStageHeating",
        "cooling": "FirstStageCooling"
    },
    "optimal_start": {
        "earliest_start_time": 120,
        "latest_start_time": 10,
        "optimal_start_lockout_temperature": 30,
        "allowable_setpoint_deviation": 1
    },
    "schedule": {
        "Monday": {
            "start": "6:00",
            "end": "18:00"
        },
        "Tuesday": {
            "start": "6:00",
            "end": "18:00"
        },
        "Wednesday": {
            "start": "6:00",
            "end": "18:00"
        },
        "Thursday": {
            "start": "6:00",
            "end": "18:00"
        },
        "Friday": {
            "start": "6:00",
            "end": "18:00"
        },
        "Saturday": "always_off",
        "Sunday": "always_off"
    },
    "occupancy_values": {
        "occupied": 2,
        "unoccupied": 3
    }
} 